{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div align = center>
        <h1> Hello from Qifeng Zeng  </h1>
        <h1> <b> This is the browser-based Mobile Tickets Viewer </b> </h1>
        <h2> <a href="{{ url_for('gettickets') }}"> Request for all tickets </a> </h2>
        <h2> You can return to the main page or see all the tickets from the navigation bar above </h2>
        {% if g.count>=1 %}
            <h2> Use the search window above to search the id of a specific ticket</h2>
        {% else %}
            <font color="#FF0000"><h2> Can't get the count of tickets right now, please try later</h2></font>
        {% endif %}
    </div>
{% endblock %}