{% extends "base.html" %}
{% block app_content %}
    <div>
        <h4> Requester ID: {{ ticket['requester_id'] }} </h4>
        <br>
        <h2> {{ ticket['id'] }}<b>  {{ ticket['subject'] }}  </b> </h2>
        <br>
        <h3>   {{ ticket['description'] }}   </h3>
        <br>
        <h4> Requested at {{ moment(ticket['created_at']).fromNow() }} </h4>
        <h4> Last updated at {{ moment(ticket['updated_at']).fromNow() }} </h4>
        <br>
        <h4> Tags:
            {% for tag in ticket['tags'] %}
                {{ tag }}
            {% endfor %}
        </h4>
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if ticket['id']==1 %} disabled{% endif %}">
                <a href="{{ url_for('search', id=ticket['id']-1) }}">
                    <span aria-hidden="true">&larr;</span> Previous ticket
                </a>
            </li>
            <li class="next{% if ticket['id']==g.count %} disabled{% endif %}">
                <a href="{{ url_for('search', id=ticket['id']+1) }}">
                    Next ticket  <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <h3> <a href="{{ url_for('index') }}"> Return to the Mainpage </a> </h3>
    <h3> <a href="{{ url_for('gettickets') }}"> Return to all tickets results </a> </h3>
{% endblock %}