{% extends "base.html" %}
{% block app_content %}
    <div>
        <h4> Requester ID: {{ ticket['requester_id'] }} </h4>
        <br>
        <h2> {{ ticket['id'] }}<b>  {{ ticket['subject'] }}  </b> </h2>
        <br>
        <h3>   {{ ticket['description'] }}   </h3>
        <br>
        <h4> Requested at {{ moment(ticket['created_at']).fromNow() }} </h4>
        <h4> Last updated at {{ moment(ticket['updated_at']).fromNow() }} </h4>
        <br>
        <h4> Tags:
            {% for tag in ticket['tags'] %}
                {{ tag }}
            {% endfor %}
        </h4>
    </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous ticket
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next ticket  <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <a href="{{ url_for('index') }}" style="float:left"> <font size="5"> Return to the main page </font> </a>
        <a href="{{ url_for('gettickets') }}" style="float:right"> <font size="5"> Return to all tickets results </font> </a>
    </div>
{% endblock %}